import init.sun7i.usb.rc

on early-init
    export EXTERNAL_STORAGE /mnt/sdcard
	export MEDIA_STORAGE /mnt/media_rw
	
    mkdir /mnt/sdcard 0777 system system
    # for backwards compatibility
    symlink /mnt/sdcard /sdcard

	# for envsa app
	symlink /system/bin /bin
	symlink /system/lib /lib

    mkdir /mnt/extsd 0777 system system
    mkdir /mnt/usbhost1 0777 system system
    mount debugfs debugfs /sys/kernel/debug
    mkdir /databk 0700 root  system
	
	#envsa
    mkdir /var 0777 root system
	mount tmpfs none /var mode=0777,uid=0,gid=1000
	mkdir /home 0777 root root
	mkdir /usr 0777 root root
	mkdir /esa 0777 root root
    
on early-fs
    mount ext4 /dev/block/system /system ro wait noatime nodev barrier=0
    insmod  /system/vendor/modules/cfbcopyarea.ko
    insmod  /system/vendor/modules/cfbfillrect.ko
    insmod  /system/vendor/modules/cfbimgblt.ko
    insmod  /system/vendor/modules/disp.ko
    insmod  /system/vendor/modules/disp_ump.ko
    insmod  /system/vendor/modules/lcd.ko
    insmod  /system/vendor/modules/hdmi.ko
    insmod  /system/vendor/modules/hdcp.ko
    
    # insmod mali driver
	insmod /system/vendor/modules/ump.ko
    insmod /system/vendor/modules/mali.ko
    chmod 777 /dev/ump
    chmod 777 /dev/mali
    chown system system /sys/devices/platform/mali-utgard.0/aw_mali_freq/mali_clk
    chown system system /sys/devices/platform/mali-utgard.0/aw_mali_freq/mali_vol
	
	# wifi driver
	insmod /system/vendor/modules/rt2x00lib.ko
	insmod /system/vendor/modules/rt2x00usb.ko
	insmod /system/vendor/modules/rt73usb.ko
	insmod /system/vendor/modules/rt2800lib.ko
	insmod /system/vendor/modules/rt2800usb.ko	

on fs

# try to mount /data
    wait /dev/block/data
    mount ext4 /dev/block/data /data wait noatime nosuid nodev barrier=0
    setupfs /dev/block/data
    umount /data

# try to mount /cache
    mount ext4 /dev/block/cache /cache wait noatime nosuid nodev barrier=0
    setupfs /dev/block/cache
    umount /cache

# try to mount /mnt/sdcard; /home; /usr; /esa
    mount ext4 /dev/block/UDISK /mnt/sdcard wait noatime nosuid nodev barrier=0
    setupfs /dev/block/UDISK
    umount /mnt/sdcard
	
	mount_all /fstab.sun7i
	
	mkdir /mnt/sdcard/home 0777 root root
	exec /sbin/busybox mount -o bind /mnt/sdcard/home /home
	exec chmod -R 777 /home/*

	mkdir /mnt/sdcard/usr 0777 root root
	exec /sbin/busybox mount -o bind /mnt/sdcard/usr /usr
	exec chmod -R 777 /usr/*

	mkdir /mnt/sdcard/esa 0777 root root
	exec /sbin/busybox mount -o bind /mnt/sdcard/esa /esa
	exec chmod -R 777 /esa/*
	
	mkdir /dev/shm 0777 root root
	mount tmpfs tmpfs /dev/shm
	
	mount usbfs usbfs /proc/bus/usb
	
	mkdir /mnt/media_rw/usbhost1 0777 media_rw media_rw
    mkdir /storage/usbhost1 0700 root root
	mkdir /mnt/media_rw/usbhost2 0777 media_rw media_rw
    mkdir /storage/usbhost2 0700 root root
	mkdir /mnt/media_rw/usbhost3 0777 media_rw media_rw
    mkdir /storage/usbhost3 0700 root root
	mkdir /mnt/media_rw/usbhost4 0777 media_rw media_rw
    mkdir /storage/usbhost4 0700 root root

	mkdir /mnt/media_rw/sdcard1 0777 media_rw media_rw
    mkdir /storage/sdcard1 0700 root root
    
#try to format /databk
    wait /dev/block/databk
    mount ext4 /dev/block/databk /databk wait noatime nosuid nodev barrier=0
    setupfs /dev/block/databk
    umount /databk
    rmdir /databk

on post-fs-data
	setprop vold.post_fs_data_done 1

on boot
# use automatic detecttion insmod ctp & gsensor driver
    insmod /system/vendor/modules/sw_device.ko

# insmod video driver
    insmod /system/vendor/modules/sunxi_cedar_mod.ko

# insmod security_system driver
    insmod /system/vendor/modules/security_system.ko

# csi module
    insmod /system/vendor/modules/videobuf-core.ko
    insmod /system/vendor/modules/videobuf-dma-contig.ko
    insmod /system/vendor/modules/camera.ko
    # insmod_modules camera
    insmod /system/vendor/modules/gc0308.ko
    insmod /system/vendor/modules/gc2035.ko
    insmod /system/vendor/modules/sunxi_csi0.ko

# insmod network
    insmod /system/vendor/modules/usbnet.ko
    insmod /system/vendor/modules/asix.ko
    insmod /system/vendor/modules/qf9700.ko
    insmod /system/vendor/modules/mcs7830.ko
    insmod /system/vendor/modules/rtl8150.ko
    insmod /system/vendor/modules/cdc_ether.ko

# Envsa init
    chown system system /sys/devices/virtual/disp/disp/attr/lcd_bl
    chmod 0660 /sys/devices/virtual/disp/disp/attr/lcd_bl
#	insmod /system/vendor/modules/sunxi-ts.ko
#	insmod /system/vendor/modules/ilitek_ts.ko
	insmod /system/vendor/modules/ft5x_ts.ko

# for right
	chown system system /sys/bus/i2c/devices/1-0050/eeprom
	
	mkdir /dev/esaio/
	chown system system /dev/esaio/

# PH17 led red 
	write /sys/class/gpio/export 184 
	write /sys/class/gpio/gpio184/direction out
	write /sys/class/gpio/gpio184/value 1
	symlink /sys/class/gpio/gpio184 /dev/esaio/led_r
	chown system system /dev/esaio/led_r

# PH18 led verte
	write /sys/class/gpio/export 185
	write /sys/class/gpio/gpio185/direction out
	write /sys/class/gpio/gpio185/value 1
	symlink /sys/class/gpio/gpio185 /dev/esaio/led_v
	chown system system /dev/esaio/led_v
	chown system system /dev/esaio/led_v/value

# PH19 backlight
	write /sys/class/gpio/export 186
	write /sys/class/gpio/gpio186/direction out
	write /sys/class/gpio/gpio186/value 1
	symlink /sys/class/gpio/gpio186 /dev/esaio/backlight
	chown system system /dev/esaio/backlight
	chown system system /dev/esaio/backlight/value

# PH20 Alim 5V screen
	write /sys/class/gpio/export 187
	write /sys/class/gpio/gpio187/direction out
	write /sys/class/gpio/gpio187/value 1
	symlink /sys/class/gpio/gpio187 /dev/esaio/alim_screen
	chown system system /dev/esaio/alim_screen
	chown system system /dev/esaio/alim_screen/value

# PH22 io interco
	write /sys/class/gpio/export 189
	write /sys/class/gpio/gpio189/direction out
	write /sys/class/gpio/gpio189/value 0
	symlink /sys/class/gpio/gpio189 /dev/esaio/io1
	chown system system /dev/esaio/io1
	chown system system /dev/esaio/io1/value

# PH23 io interco
	write /sys/class/gpio/export 190
	write /sys/class/gpio/gpio190/direction out
	write /sys/class/gpio/gpio190/value 0
	symlink /sys/class/gpio/gpio190 /dev/esaio/io2
	chown system system /dev/esaio/io2
	chown system system /dev/esaio/io2/value

# PH24 rst hub USB
	write /sys/class/gpio/export 191
	write /sys/class/gpio/gpio191/direction out
	write /sys/class/gpio/gpio191/value 0
	symlink /sys/class/gpio/gpio191 /dev/esaio/rst_hub_usb
	chown system system /dev/esaio/rst_hub_usb
	chown system system /dev/esaio/rst_hub_usb/value

# PH25 RTS port A
	write /sys/class/gpio/export 192
	write /sys/class/gpio/gpio192/direction out
	write /sys/class/gpio/gpio192/value 0
	symlink /sys/class/gpio/gpio192 /dev/esaio/rts_a
	chown system system /dev/esaio/rts_a
	chown system system /dev/esaio/rts_a/value

	start sysinit
	start sshd
	
service wpa_supplicant /system/bin/wpa_supplicant \
							-iwlan0 \
							-Dnl80211 \
							-c/data/misc/wifi/wpa_supplicant.conf \
							-I/system/etc/wifi/wpa_supplicant_overlay.conf \
							-e/data/misc/wifi/entropy.bin \
							-O/data/misc/wifi/sockets \
							-g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service p2p_supplicant /system/bin/wpa_supplicant \
							-iwlan0 \
							-Dnl80211 \
							-c/data/misc/wifi/wpa_supplicant.conf \
							-N \
							-iwlan0 \
							-Dnl80211 \
							-c/data/misc/wifi/p2p_supplicant.conf \
							-puse_p2p_group_interface=1 \
							-O/data/misc/wifi/sockets \
							-e/data/misc/wifi/entropy.bin \
							-g@android:wpa_wlan0 \
							-dd
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

#----------------------------------------------------------------------------------------------
# Services Personnalisés pour les applications esa

service sysinit /home/rc.sh
    class main
    disabled
    user root
    group root
    oneshot       

service fuse_usbhost1 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/usbhost1 /storage/usbhost1
    class late_start
    disabled
	
service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled
